# .env.template

# POSTGRESQL DATABASE CONNECTION STRING
DATABASE_URL="postgresql://postgres:password@localhost:5432/priorityhub?schema=public"

# JWT secret (random string used to jwt's)
JWT_SECRET=

# Postgres username
POSTGRES_USER= "postgres"

# Password for your postgres user
POSTGRES_PASSWORD=

# Postgres database name
POSTGRES_DB="priorityhub"
